<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title><%= locals.title %></title>
        <meta name="description" content="<%= locals.description %>" />

        <meta name="robots" content="index, follow" />

        <meta property="og:title" content="<%= locals.title %>" />
        <meta property="og:image" content="<%= locals.imageUrl %>" />
        <meta property="og:description" content="<%= locals.description %>" />

        <link rel="canonical" href="<%= locals.url %>" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@latest/dist/css/bootstrap.min.css"
            rel="stylesheet"
            title="bootstrap"
            type="text/css"
        />
        <link
            rel="stylesheet"
            href="/CSS/style.css"
            type="text/css"
            media="all"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
            title="font-awesome"
            type=""
        />
    </head>

    <body class="" data-bs-theme="dark">
        <%- include('../Partials/_header.ejs')%>
        <main id="mainContent" class="d-flex flex-column container">
            <%- body %>
        </main>
<footer class="border-top bottom-0 mt-5 pt-5">
    <div
        class="container fw-light d-flex flex-wrap gap-2 justify-content-between"
    >
        <div class="col-md-4 col-lg-3 my-3">
            <div class="heading">
                <h3 class="display-6 py-2">
                    <a href="/" class="text-decoration-none"> BiographyHub </a>
                </h3>
                <p class="fw-light">
                    Stay ahead with expert insights on AI, emerging tech,
                    digital marketing strategies, and productivity tools to
                    supercharge your growth.
                </p>
            </div>
            <div class="col-md-12 px-0 my-4">
                <form
                    class="input-group py-3"
                    method="post"
                    action="/auth/subscribe"
                >
                    <div class="input-group">
                        <input
                            class="form-control"
                            type="email"
                            id="emailAddress"
                            name="emailAddress"
                            required
                            placeholder="Email Address"
                        />
                        <!-- when subscribe is clicked, a modal should appear thanking the user for subscribing  -->
                        <button
                            class="btn btn-success btn-lg border"
                            type="submit"
                        >
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-3 list-group my-3">
            <h3 class="fs-4">Categories</h3>
            <ul
                class="d-flex overflow-x-scroll my-2 px-0 align-items-center gap-2"
            >
                <li class="list-group-item border">
                    <a
                        class="nav-link text-capitalize"
                        href="/category/artificial-intelligence"
                    >
                        Artificial Intelligence
                    </a>
                </li>
                <li class="list-group-item border">
                    <a
                        class="nav-link text-capitalize"
                        href="/category/technology"
                    >
                        Technology
                    </a>
                </li>
                <li class="list-group-item border">
                    <a
                        class="nav-link text-capitalize"
                        href="/category/digital-marketing"
                    >
                        Digital marketing
                    </a>
                </li>
                <li class="list-group-item border">
                    <a
                        class="nav-link text-capitalize"
                        href="/category/productivity"
                    >
                        Productivity
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-md-3 list-group my-3">
            <h3 class="fs-4">Legal</h3>

            <ul class="list-group">
                <li class="list-group-item">
                    <a
                        href="#partnerships"
                        class="text-secondary text-decoration-none"
                        >Patnerships</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="#privacy-policy"
                        class="text-secondary text-decoration-none"
                        >Privacy policy</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="#data-security"
                        class="text-secondary text-decoration-none"
                        >Do not sell my data</a
                    >
                </li>
            </ul>
        </div>
        <div class="col-md-2 list-group my-3">
            <h3 class="fs-4">Advertising</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a
                        href="#advertising#pricing"
                        class="text-secondary text-decoration-none"
                        >Pricing</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="#advertising#affiliate"
                        class="text-secondary text-decoration-none"
                        >Affiliate Marketing</a
                    >
                </li>
                <li class="list-group-item">
                    <a
                        href="/sitemap.xml"
                        class="text-secondary text-decoration-none"
                        >SiteMap</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <hr />
    <div class="footer-socials text-center text-secondary mb-3 mt-5">
        <ul class="d-flex mx-auto justify-content-center gap-3">
            <li class="list-group-item">
                <a href="https://www.instagram.com/simply_sa_ad">
                    <i class="fab fa-instagram"> </i>
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://www.github.com/simplysaad">
                    <i class="fab fa-github"> </i>
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://x.com/simply_saad?s=09">
                    <i class="fab fa-twitter"> </i>
                </a>
            </li>
        </ul>
        <div class="footer-text text-center">
            &copy; <%= new Date().getFullYear() %> biographyHub, inc. All rights
            reserved
        </div>
    </div>
</footer>
    </body>
    <script src="/JS/index.js" type="text/javascript" charset="utf-8"></script>
</html>
