<div
    class="masonry-item reel-item pb-3 pb-md-1 mb-3 col-md-8 shadow border rounded d-md-flex justify-content-start align-items-center"
>
    <div class="card-image col-md-4 col-lg-3 p-1 rounded overflow-hidden">
        <img
            class="img-fluid placeholder placeholder-wave"
            src="<%= post.imageUrl %>"
            alt="<% post.title %>"
        />
    </div>
    <div class="card-body d-flex flex-column gap- p-2 py-md-3">
        <div class="card-info">
        <span class="card-category py-2 text-success fs-6 small text-capitalize">
          <%= post.category.name %>
        </span>
            <h4 class="card-title fs-5 py-2">
                <a href="/article/<%=post.slug || post._id%>">
                    <%= post.title %>
                </a>
            </h4>
            <p class="d-none card-desc small py-2 fs-6 fw-light text-muted">
                <%= post.description %>
            </p>
        </div>
        <div
            class="card-extra-info d-flex flex-wra gap-2 align-items-center justify-content-between"
        >
            <div
                class="text-secondary small d-flex justify-content-start gap-2 gap-md-3"
            >
                <span class="card-date">
                    <%= post.updatedAt.toLocaleDateString("en-US", {year:
                "numeric", month: "long", day: "numeric"}) %>
                </span>
                <span class="card-views d-none">
                    <i class="fa fa-eye"> </i>
                    <data value="12" class="">
                        <%= post.meta.views > 999
                        ?(post.meta.views/1000).toFixed(1) + "k" :
                        post.meta.views %>
                    </data>
                </span>
                <span class="card-likes d-none">
                    <i class="fa fa-heart"> </i>
                    <data value="12" class="">
                        <%= post.meta.likes > 999 ? post.meta.likes/1000:
                        post.meta.likes %>
                    </data>
                </span>
            </div>
            <div
                class="d-none float-end card-options px-3 gap-2 d-flex align-items-center justify-content-end"
            >
                <a
                    href="/admin/posts/<%= post._id%>"
                    class="btn btn-outline-secondary gap-2 d-flex justify-content-center align-items-center"
                >
                    <i class="fa fa-pencil"> </i>
                    <span class="d-none d-md-inline"> Edit </span>
                </a>

                <button
                    data-post-id="<%= post._id%>"
                    type="button"
                    class="btn btn-outline-danger gap-2 d-flex justify-content-center align-items-center"
                >
                    <i class="fa fa-trash"></i>
                    <span class="d-none d-md-inline"> Delete </span>
                </button>
            </div>
        </div>
    </div>
</div>
