<div
    class="recommend-card flex-grow-1 col-9 col-md-7 col-lg-4 pb-3 shadow border rounded d-flex flex-column"
>
    <div class="card-image p-1 rounded overflow-hidden">
        <img class="img-fluid placeholder placeholder-wave" src="<%= post.imageUrl %>" alt="<% post.title %>" />
    </div>
    <div class="card-body d-flex flex-column gap- p-2 py-md-3">
        <div class="card-info">
            <h4 class="card-title fs-5">
                <a href="/article/<%=post.slug || post._id%>">
                    <%= post.title %>
                </a>
            </h4>
            <p class="card-desc small py-2 fs-6 fw-light text-muted">
                <%= post.description.split(" ").splice(0, 19).join(" ") + "..." %>
            </p>
        </div>
        <div
            class="card-extra-info d-flex flex-wra gap-2 align-items-center justify-content-between"
        >
            <div
                class="text-secondary small d-flex justify-content-start gap-2 gap-md-3"
            >
                <span class="card-date"
                    ><%= post.updatedAt.toLocaleDateString() %>
                </span>
                <span class="card-views">
                    <i class="fa fa-eye"> </i>
                    <data value="12" class="">
                        <%= post.meta.views > 999
                        ?(post.meta.views/1000).toFixed(1) + "k" :
                        post.meta.views %>
                    </data>
                </span>
                <span class="card-likes">
                    <i class="fa fa-heart"> </i>
                    <data value="12" class="">
                        <%= post.meta.likes > 999 ? post.meta.likes/1000:
                        post.meta.likes %>
                    </data>
                </span>
            </div>
            <div
                class="d-none float-end card-options px-3 gap-2 d-flex align-items-center justify-content-end"
            >
                <a
                    href="/admin/posts/<%= post._id%>"
                    class="btn btn-outline-secondary gap-2 d-flex justify-content-center align-items-center"
                >
                    <i class="fa fa-pencil"> </i>
                    <span class="d-none d-md-inline"> Edit </span>
                </a>

                <button
                    data-post-id="<%= post._id%>"
                    type="button"
                    class="btn btn-outline-danger gap-2 d-flex justify-content-center align-items-center"
                >
                    <i class="fa fa-trash"></i>
                    <span class="d-none d-md-inline"> Delete </span>
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    .masonry {
        column-count: 2;
        column-gap: 1rem;
    }
    .masonry-item {
        break-inside: avoid;
        margin-bottom: 1rem;
    }

    @media (max-width: 768px) {
        .masonry {
            column-count: 2;
        }
    }

    @media (max-width: 480px) {
        .masonry {
            column-count: 1;
        }
    }
</style>
