<main id="mainContent" class="col-md-8 col-lg-9">
  <section id="infoSection">
    <div class="article-image overflow-hidden">
        <img
            src="<%= article.imageUrl%>"
            alt="<%= article.title + " image" %>"
            class="img-fluid w-100 h-auto placeholde object-fit-cover"
        />
    </div>
    <div class="article-title py-3">
        <span class="rounded small text-uppercase">
            technology
        </span>
        <h3 class="fs-1 led">
            <%= article.title%>
        </h3>
    </div>
    <div class="article-info d-flex flex-column">
        <span class="text-capitalize"><%= article.author%> </span>
        <span class="small"><%= article.updatedAt.toDateString() %> </span>
        <span class="small"><%= article.readTime %>  </span>
    </div>
  </section>
  <article id="mainArticle" class="py-4">
    <p class="">
        <%- article.content%>
    </p>
    <div class="article-share d-flex gap-2 fs-2">
        <span id="btnShare" data-title="<%= article.title %>">
            <i class="fa fa-share-alt"> </i>
        </span>
        <a href=""  id="whatsapp" class="share-icon">
            <i class="fab fa-whatsapp"> </i>
        </a>
        <a href="" id="facebook" class="share-icon">
            <i class="fab fa-facebook"> </i>
        </a>
        <a href="" id="twitter" class="share-icon">
            <i class="fab fa-twitter"> </i>
        </a>
    </div>
  </article>
  <section id="chatbotSection" class="col-md-8">
    <div class="heading my-4">
        <h3 class="fs-2 lead">Ask Ai!</h3>
        <h3 class="fs-6 fw-light">
            For more insight and context
        </h3>
    </div>
    <div class="input-bar border rounded gap-1 d-flex">
        <input
            class="border-0 form-control"
            type="text"
            name="message"
            id="inputMessage"
            placeholder="Ask follow up..."
            value=""
        />
        <button id="btnVoiceSearch" class="btn border-0">
            <i class="fa fa-microphone"> </i>
        </button>
        <button
            id="btnSendMessage"
            class="btn btn-outline-light"
        >
            <i class="fa fa-paper-plane"> </i>
        </button>
    </div>
    <div class="input-suggestions my-4">
        <div
            class="suggestion my-2 text-muted d-flex px-2 border-bottom align-items-center justify-content-between"
        >
            <span class="col-8 text-truncate">
                lorem ipsum dolor sit amet consectetur?
            </span>
            <i class="fa small fa-search"> </i>
        </div>
        <div
            class="suggestion my-2 text-muted d-flex px-2 border-bottom align-items-center justify-content-between"
        >
            <span class="col-8 text-truncate">
                lorem ipsum dolor sit amet consectetur?
            </span>
            <i class="fa small fa-search"> </i>
        </div>
    </div>
  </section>
  <section id="relatedSection" class="my-5">
    <div class="heading my-3">
        <h3 class="fs-3 fw-light">Related Posts</h3>
    </div>
  
    <div class="reel gap-2 container">
      <% relatedPosts?.forEach((post)=>{ %>
              <%- include('../../Components/portrait.card.ejs', {post}) %>
       <% }) %>
    </div>
  </section>
</main>
<aside class="col-md-4 col-lg-3 border border-danger">
  <section
      id="authorSection"
      class="d-flex container py-2 flex-column gap-1 author-box"
  >
      <div class="author-image overflow-hidden rounded">
          <img
              class="img-thumbnail img-author"
              src="<%= author?.profileImage%>"
              alt="no image"
          />
      </div>
      <div class="author-info d-flex flex-column">
          <span class="fs-4 text-capitalize"><%= author?.name %></span>
          <span class="small"><%= author?.title %></span>
      </div>
      <div class="author-bio">
          <p class="fw-light">
              <%= author?.bio %>
          </p>
      </div>
      <div class="author-socials fs-4 d-flex gap-3">
        <% author?.socials.forEach((social)=>{ %>
          <a class="social-link" href="<%= social.url %>">
              <i class="fab fa- <%= social.name %>"> </i>
          </a>
       <% }) %>
      </div>
  </section>
</aside>
