<section class="container my-5">
    <h2 class="mb-4">
        Search Results for "<span class="text-success"><%= searchTerm %></span>"
    </h2>

    <div class="list-group gap-3 ">
        <% searchResults.forEach((post)=> { %>
        <a
            href="/article/<%=( post.slug || post._id ) + '?source=search'%>"
            class="list-group-item my-3 list-group-item-action mb-3 shadow-sm rounded"
        >
            <div class="d-md-flex gap-2 py-2 w-100 justify-content-between">
                <h5 class="mb-1 fw-semibold"><%= post.title %></h5>
                <small class="text-muted py-2"><%= getRelativeTime(post.updatedAt) %></small>
            </div>
            <p class="mb-1 text-muted"><%= post.description.split(" ").slice(0,25).join(" ") %></p>
            <small class="text-secondary"
                ><%= post.category?.name || 'General' + ' · ' + post.readTime %>
            </small>
        </a>
        <% }) %>
    </div>

    <nav aria-label="Search results pagination" class="mt-4 d-none">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>
